:host {
  max-width: 37vw;
  min-height: 65vh;
}

h1 {
  text-align: center;
  line-height: 3rem;
}

.video-wrapper {
  display: flex;
  justify-content: center;

  iframe {
    width: 32rem;
    height: 18rem;
  }
}
